.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .search-box .search-input{
      padding:18px;
      width:40%;
      border-radius: 20px;
      border:.5px solid rgb(165, 165, 165);
      outline: none;
      transition-duration: 100ms;
      margin-top:20%;
      font-size: 20px;
      z-index: 2;
  }
  .search-input:hover{
      box-shadow: 2px 2px 7px grey;
  }
  .suggestion{
      height:300px;  
      border:.5px solid rgb(165, 165, 165);
      border-top:none;
      width:42.3%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-top:-35px;
      box-shadow: 2px 2px 7px grey;
      padding-top:40px;
      overflow: auto;
  }
  .suggestion ul{
      list-style-type: none;
      padding-left:10px;
  }
  .suggestion ul li{
  padding:10px;
  font-size: 20px;
  }
  